* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body {
    font-family: 'Roboto', sans-serif;
    /* background-color: black; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1d273b;
    font-weight: 300;
}

.contenedor {
    width: 90%;
    /* max-width: 1000px; */
    margin: auto;
    overflow: hidden;
    height: 100vh;
}


.contenedor1 {
    width: 90%;
    /* max-width: 1000px; */
    
    margin: auto;
    /* overflow: hidden; */
    padding: 60px 0;
}


h1 {
    font-size: 50px;
}


/* Header */
header{
    background-image: url(https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80) ;
    background-repeat: no-repeat;
    height: 100vh;
    /* position: relative; */
    background-size: cover;
    background-position: center center;
}
/* header::before {
    content: "";
    display: block;
    margin-bottom: 80px;
} */


nav {
    width: 100%;
    height: 80px;
    background: rgb(0, 0, 0,.5);
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    z-index: 100;
    transition: ease-in-out 0.5s;
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    padding: 0 40px;
}

.nav .logo {
    height: 80px;

}

.nav .logo img {
    height: 100%;
    vertical-align: top;
    
    
    position: relative;
    animation-name: move6;
    animation-duration: 5.5s;
}

@keyframes move6 {
    0% {left:-2000px ;}
    
    75% {left:50px;}
    100% {left:0px;}
    
}
.links{
    display: flex;
    margin-right: 40px;
    /* padding: 30px 0 0 0; */
    position: relative;
    animation-name:move5;
    animation-duration: 5.5s;
}
@keyframes move5 {
    0% {right:-2000px ;}
    75% {right:50px;}
    100% {right:0px;}
    
}

.nav .enlaces-header a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.hamburguer {
    width: 80px;
    height: 80px;
    display: none;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    transition: color 0.5s ease-in;
}

.hamburguer>i {
    font-size: 25px;
    line-height: 80px;
}

.contenido-header {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenido-header>img {
    width: 550px;
    animation: ease-in animat 1s;
}

@keyframes animat {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
.heroSection{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 50px; */
    text-align: center;
    overflow: hidden;
    
}
.heroText{
    
    z-index: 2;
    text-align: left;
    position: relative;
    margin-top: 100px;
    /* transform: translate(-1250px,500px); */
    /* -webkit-transform: translate(-350px,0); */
    
}
.title{
    position: relative;
    color: white;
    font-size: 80px;
    text-shadow: 1px 1px 2px black;
    
    animation-name: move1;
    
    animation-duration: 2.5s;
    
    
    
}
.heroText p{
    color: white;
    text-shadow: 0px 1px 2px black;
    font-size: 25px;
    
    margin:50px auto;
    z-index: 2;
    text-align: center;
    position: relative;
    
    white-space: nowrap;
    border-right: 4px solid;
    width:19ch;
    animation:typing 2s  steps(20), blink .5s infinite step-end alternate ;
    /* animation-delay: 5s; */

    overflow: hidden;
    /* animation-name: move2; */
    /* animation-duration: 10s; */
    
}

@keyframes typing {
    from {width: 0;}
}
@keyframes blink {
    50% {border-color: transparent;}
}


.hr1{
    position: relative;
    color: blue;
    
    border-top: 1px solid white;
    animation-name: move3;
    animation-duration: 2.5s;
    
}
.hr2{
    border-top: 1px solid white;
    position: relative;
    animation-name: move4;
    animation-duration: 2.5s;
    
}
@keyframes move {
    0% {top:-2000px ;}
    70% {top:20px}
    100% {top:0px;}
}
@keyframes move3 {
    0% {left:-2000px;}
    
    70% {left:0px;}
    71% {top: 0px;border:1px solid white;}
    85% {top:50px;border:2px solid rgb(168, 100, 159) ;}
    100% {top: 0}
}
@keyframes move4 {
    0% {right:-2000px ;}
    
    70% {right:0px;}
    71% {top: 0px;border:1px solid white;}
    85% {top:-50px;border:2px solid rgb(168, 100, 159) ;}
    100% {top: 0}
}


@keyframes move1 {
    0% {opacity: 0; }
    90%{opacity: 0;}
    100% {opacity: 1;}
}
@keyframes move2 {
    0% {opacity: 0;; }
    
   
}
.textos-header {
    margin: 0 0 0 30px;
}

.contenido-header p {
    font-weight: 100;
    margin-top: 14px;
    color: #5D6678;
}


.contenido-header a {
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background: #1FDE82;
    text-align: center;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
}

.titulo {
    font-size: 50px;
}

/* About us */

.proyectos{
    background: #f2f2f2;
}

.contenedor-articulo {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-around;
}

.articulo {
    width: 29%;
    background: #fff;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 45px 30px 60px 30px;
    transition: 0.5s;
}

.articulo:hover {
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
}

.articulo>i {
    font-size: 30px;
    color: #fff;
    background: #1FDE82;
    display: inline-block;
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    border-radius: 50%;
    box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
}

.articulo>h3 {
    font-size: 24px;
    margin-top: 30px;
}
.articulo>img {
    width: 100%;
    height: 160px;
    border-radius: 10px;
}

.articulo>p {
    font-weight: 100;
    color: #5D6678;
    margin-top: 15px;
    padding-bottom: 20px;
}

.articulo>a {
    color: #5D6678;
    font-weight: 400;
    text-decoration: none;
}

.articulo>a:hover {
    color: #1FDE82;
    transition: color .5s;
}

/* Questions */


.questions {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.questions>img {
    margin-top: 20px;
    width: 500px;
    border-radius: 1000px;
    
}

.textos-questions {
    margin: 0 30px 0 30px;
}

.textos-questions p {
    font-size: 30px;
    font-weight: 100;
    margin-top: 14px;
    color: black;
    letter-spacing: 2px;
    text-align: justify;
}




/* Results */

.skills {
    background: #2570ff;
    padding-top: 30px;
    
}

.conten-results {
    display: flex;
    justify-content: space-evenly;
    /* height: 100vh; */
}

.numbers {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}




.results-text p {
    color: #fff;
    font-weight: 300;
    margin: 20px 0;
}
.numbers .number {
    width: 45%;
    height: 250px;
    background: rgba(255, 255, 255, .2);
    color: #fff;
    border-radius: 10px;
    padding: 40px 35px;
    
    margin-bottom: 20px;
}

.numbers .number p {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
    text-align: center;
}


.iconify{
    font-size: 50px;
    margin: 0 10px;
}
.results-text {
    width: 37%;
}

.results-text h4 {
    color: #fff;
    font-size: 40px;
}

.results-text p {
    color: #fff;
    font-weight: 300;
    margin: 20px 0;
}


.results-text>a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #fff;
    padding: 10px 0;
    width: 120px;
    text-align: center;
    border-radius: 5px;
}

/* Services */

.contact {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.contact>img {
    width: 500px;
    margin:0 10%;
}
.contact>form {
    width: 500px;
    margin:0 5%;
}
.formTitle{
    
    color: white;
    font-size: 50px;
    text-shadow: 1px 1px 2px black;
}
.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
    margin-left: 400px;
    margin-right: auto;
    
}

.form__input{
    padding: 1em;
    box-shadow: 1px 1px 2px ;
    border: transparent;
    border-radius: 5px;
    width: 300px;
}
.btnCV{
    margin: 60px 0 0 10px;
    width: 130px;
    display: inline-block;
    background: #1FDE82;
    text-align: center;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgb(83, 123, 197);
    border: transparent;
}
.btnCV:hover{
    background-color: rgb(83, 123, 197,0.5);
    color: white;
}
.form__button{
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background: #1FDE82;
    text-align: center;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    border: transparent;
    box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
}

.form__button:hover{
    background-color: rgb(83, 123, 197,0.5);
    color: white;
}
.box-contact {
    margin: 30px 30px 0 0;
}

.box-contact h4 {
    font-size: 24px;
    background: #f2f2f2;
    width: 350px;
    border-radius: 6px;
    padding: 10px 0 10px 15px;
    margin-bottom: 10px;
}



/* footer */

footer {
    background: black;
    padding: 60px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.partFooter {
    width: 20%;
    text-align: center;
}

.partFooter h4 {
    color: #1d273b;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.partFooter a {
    display: block;
    text-decoration: none;
    color: #5D6678;
    font-weight: 300;
    transition: color .3s ease-in-out;
    margin-bottom: 10px;
}


.partFooter a:hover {
    color: #1FDE82;
}

.partFooter img {
    width: 70%;
}

.social-media i {
    font-size: 20px;
    display: inline-block;
    color: #adb6c7;
    border: 1px solid #adb6c7;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 5px;
}

.social-media i:hover {
    color: #fff;
    background-color: #1FDE82;
    border-color: #1FDE82;
}

/* Breakpoints responsive */

@media screen and (max-width:1200px) {
    .contact>img {
        width: 200px;
        
    }
}
@media screen and (max-width:800px) {
    .titulo {
        font-size: 45px;
    }

    .contenido-header {
        flex-direction: column;
        justify-content: space-evenly;
        height: 720px;
    }

    .contenido-header>img {
        width: 400px;
    }

    .textos-header {
        margin: 0;
    }

    /* About us */

    .articulo {
        width: 45%;
    }

    /* Questions */

    .questions {
        height: 720px;
        justify-content: center;
        flex-direction: column;
    }

    .questions>img {
        width: 400px;
    }

    /* results */

    .conten-results {
        flex-direction: column-reverse;
    }

    .results-text>a {
        margin-bottom: 60px;
    }

    .numbers {
        width: 100%;
        /* justify-content: space-between; */
    }

    .results-text {
        width: 100%;
    }

    /* Services */

    .services {
        flex-direction: column-reverse;
        align-items: center;
    }

    .box-skills {
        margin: 0 0 40px 0;

    }

    .box-skills h4 {
        width: 500px;
    }

    .contact>img {
        width: 200px;
        display: none;
    }

    /* Footer */

    footer {
        justify-content: space-evenly;
    }

    .partFooter {
        width: 40%;
        margin-bottom: 40px;
    }
}

@media screen and (max-width:600px) {
    .titulo {
        font-size: 35px;
    }
    .nav .logo img{
        height: 50px;
        margin: 10px 0;
    }
    .title{
        font-size: 40px;
    }
    
    h1 {
        font-size: 40px;
    }

    .contenido-header {
        height: 650px;
    }

    .nav {
        padding: 0 10px;
    }

    .contenido-header>img {
        width: 200px;
    }

    .enlaces-header {
        position: fixed;
        background: rgb(0, 0, 0,0.8);
        /* fallback for old browsers */
        
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        clip-path: circle(0.0% at 100% 0);
    }

    .nav .menudos {

        -webkit-clip-path: circle(150% at 100% 0);
        clip-path: circle(150% at 100% 0);

    }

    .nav .enlaces-header a {
        color: #fff;
    }

    .hamburguer {
        display: block;
    }

    /* About us */

    .articulo {
        width: 95%;
    }

    /* Questions */

    
    
    .questions {
        height: 100vh;
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
    }

    .questions>img {
        margin-top: 0px;
        width: 200px;
        
        
    }

    .textos-questions {
        margin: 40px  30px 40px 30px;
    }
    .textos-questions h1 {
        font-size: 20px;
    }

    .textos-questions p {
        font-size: 15px;
        font-weight: 100;
        margin-top: 20px;
        color: black;
        letter-spacing: 2px;
        text-align: justify;
    }
        /* results */

    .numbers .number {
        width: 95%;
    }

    .results-text h4 {
        font-size: 35px;
    }

    /* Services */

    .contact>img {
        width: 200px;
        display: none;
    }

    .box-skills h4 {
        width: 100%;
    }

    /* Footer */
    .partFooter {
        width: 95%;
        margin-bottom: 40px;
    }
    .formTitle{
    
        
        font-size: 20px;
        
    }
}
